.divstyle {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.divstyle div {
  height: 10rem;
  width: 10rem;
  background-color: lime;
  /* margin-left: 2rem;
  margin-right: 2rem; */
}
